.cardLivro {
  height: 400px;
  width: 200px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.imagemLivro {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.boxInfo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.infoTexto {
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.precoLivro {
  font-weight: bold;
  font-size: 1.1rem;
  color: #2c3e50;
  margin-top: 5px;
}

.botaoCarrinho {
  background-color: #a5ee2c;
  color: #021024;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  /* Estilos do NeuButton */
  font-weight: bold;
  box-shadow: 3px 3px 0px #9399a0;
  transition: all 0.1s ease-in-out;
}

.botaoCarrinho:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}
