.cardLivro {
  height: 350px;
  width: 175px;
  padding: 12px;
  margin-top: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.imagemLivro {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.infoLivro {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.titulo {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 10px 0;
}

.precoLivro {
  font-weight: bold;
  font-size: 0.8rem;
  color: #2c3e50;
}

.botaoCarrinho {
  background-color: #a5ee2c;
  color: #021024;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  /* Estilos do NeuButton */
  font-weight: bold;
  box-shadow: 3px 3px 0px #9399a0;
  transition: all 0.1s ease-in-out;
}

.botaoCarrinho:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}
