.btPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    max-height: 80px;
    max-width: 80px;
    min-height: 40px;
    min-width: 40px;
}

.btBotao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-botao-fundo);
    border: none;
    border-radius: 40%;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.btIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.btIcone > svg,
.btIcone > img {
    width: 3em;
    height: 3em;
}
