:root {
    --cor-fundo-header: #052659;
    --cor-primaria: #021024;
    --cor-secundaria: #5483B3;
    --cor-terciaria: #7DA0CA;
    --cor-fundo-primaria: #C1E8FF;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-dark-mode: #3C3B3B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: #fff;
}