:root {
    --cor-fundo-header: #052659;
    --cor-primaria: #021024;
    --cor-secundaria: #5483B3;
    --cor-terciaria: #7DA0CA;
    --cor-fundo-primaria: #C1E8FF;
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-dark-mode: #3C3B3B;
    --cor-botao-fundo: #D9D9D9;
}

.light {
    background-color: var(--cor-branco);
    color: var(--cor-preto);
}

.dark {
    background-color: var(--cor-dark-mode);
    color: var(--cor-branco);
}

.precoLivro {
    color: #2c3e50;
}

.dark .precoLivro {
    color: var(--cor-terciaria);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: #fff;
}