:root {
  --cor-fundo-header: #052659;
  --cor-primaria: #021024;
  --cor-secundaria: #5483b3;
  --cor-terciaria: #7da0ca;
  --cor-fundo-primaria: #c1e8ff;
  --cor-branco: #ffffff;
  --cor-preto: #000000;
  --cor-dark-mode: #3c3b3b;
  --cor-botao-fundo: #d9d9d9;
}

.light {
  background-color: var(--cor-branco);
  color: var(--cor-preto);
}

.dark {
  background-color: var(--cor-dark-mode);
  color: var(--cor-branco);
}

.precoLivro {
  color: #2c3e50;
}

.dark .precoLivro {
  color: var(--cor-terciaria);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #fff;
}
