header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--cor-fundo-header);
    color: var(--cor-branco);
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.elemento {
    text-decoration: none;
    color: var(--cor-branco);
}

.elemento:hover {
    text-decoration: underline;
}

.contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.contato h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}