.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 90vh;
  color: #333;
}

.modalContent .titulo {
  font-size: large;
  align-self: center;
  padding-bottom: 20px;
}

.itemList {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.itemImagem {
  width: 60px;
  height: 90px;
  object-fit: cover;
  margin-right: 10px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
}

.itemTitulo {
  color: #000;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: medium;
}

.cupomArea {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.inputCupom {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.botaoCupom {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botaoCupom:hover {
  background-color: #0069d9;
}

.totalArea {
  margin-top: 15px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botao,
.botaoPagamento {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.botao {
  background-color: #f0f0f0;
}

.botaoPagamento {
  background-color: #28a745;
  color: white;
}

.botao:hover {
  background-color: #e0e0e0;
}

.botaoPagamento:hover {
  background-color: #218838;
}
