.principal {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

}

.imagem {
    width: 28vw;
}

.imagem img {
    width: 100%;
    object-fit: contain;
}

.conteudo {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.conteudo input {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 30px;
    border: none;
    font-size: clamp(1rem, 1.5vw, 3rem);
    background-color: var(--cor-fundo-primaria);
}

.conteudo label {
    font-size: clamp(1rem, 1.5vw, 3rem);
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    .principal {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 30%;
    }

    .imagem {
        width: 80vw;
    }

    .conteudo {
        width: 80vw;
    }
}

